body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e91919;
    
}
h2{
    color: rgba(71, 177, 0, 0.89);
}
table{
    border-collapse: collapse;
}
td{
    border: solid 2px blue;
    padding: 10px;
}
th{
    border: solid 2px blue;
    padding: 10px;
}